@page "/"

<PageTitle>Juan Manuel Fangio</PageTitle>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
	<div class="container">
		<a class="navbar-brand" href="#page-top">Juan Manuel Fangio</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menu
			<i class="fas fa-bars ms-1"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
				<li class="nav-item"><a class="nav-link" href="#services">Mapa</a></li>
				<li class="nav-item"><a class="nav-link" href="#portfolio">Formula 1</a></li>
				<li class="nav-item"><a class="nav-link" href="#about">Rally</a></li>
				<li class="nav-item"><a class="nav-link" href="#team">Expo</a></li>
			</ul>
		</div>
	</div>
</nav>
<!-- Masthead-->
<header class="masthead">
	<div class="container">
		<div class="masthead-subheading">Bienvenido al museo online</div>
		<div class="masthead-heading text-uppercase"> Juan Manuel Fangio</div>
		<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="cursor:pointer;" onclick="    document.getElementById('services').scrollIntoView({behavior:'smooth'})">Comenzar</a>
	</div>
</header>
<!-- Services-->
<section class="page-section" id="services">
	<div class="container">
		<div class="text-center">
			<h2 class="section-heading text-uppercase">AutoMoviles</h2>
			<h3 class="section-subheading text-muted">Aqui podras encontrar tres zonas de exposicion, contando con los Formula 1, Rally y autos de exposición.</h3>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<h4 class="my-3">Formula 1</h4>
				<p class="text-muted">Los automóviles de Fórmula 1 son monoplazas con cabina abierta, con alerones delanteros y traseros y un motor situado detrás del conductor, destinado a competir en eventos de Fórmula 1.</p>
			</div>
			<div class="col-md-4">
				<h4 class="my-3">Rally</h4>
				<p class="text-muted">Un coche de rally es un vehículo de serie que ha sido modificado para la competición. Estas modificaciones las establece la federación internacional (FIA) en una serie de regulaciones que se dividen en grupos y clases, por lo que dependiendo de la categoría a la que pertenezca serán mayores o menores.</p>
			</div>
			<div class="col-md-4">
				<h4 class="my-3">Exposición</h4>
				<p class="text-muted">Los automóviles de exposición se caracterizan por ser autos de viejas generaciones, clasicos, etc. Si bien no sirven para competir estos estan mas orientado a la coleccion de los mismos.</p>
			</div>
		</div>
	</div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
	<div class="container">
		<div class="text-center">
			<h2 class="section-heading text-uppercase">Formula 1</h2>
			<h3 class="section-subheading text-muted">Los siguientes autos estan ordenados cronologinamente.</h3>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-6 mb-4">
				<!-- Portfolio item 1-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/F1-1955.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Epoca</div>
						<div class="portfolio-caption-subheading text-muted">1950</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mb-4">
				<!-- Portfolio item 2-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/F1-1960.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Epoca</div>
						<div class="portfolio-caption-subheading text-muted">1960</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mb-4">
				<!-- Portfolio item 3-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/F1-1970.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Epoca</div>
						<div class="portfolio-caption-subheading text-muted">1970</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<!-- Portfolio item 4-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/F1-1980.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Epoca</div>
						<div class="portfolio-caption-subheading text-muted">1980</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
				<!-- Portfolio item 5-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/F1-1990.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Epoca</div>
						<div class="portfolio-caption-subheading text-muted">1990</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<!-- Portfolio item 6-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/F1-2000.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Epoca</div>
						<div class="portfolio-caption-subheading text-muted">2000</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- About-->
<section class="page-section" id="about">
	<div class="container">
		<div class="text-center">
			<h2 class="section-heading text-uppercase">Formula 1</h2>
			<h3 class="section-subheading text-muted">.</h3>
		</div>
		<ul class="timeline">
			<li>
				<div class="timeline-image"><img class="rounded-circle img-fluid" src="/Imagenes/F1z.jpg" alt="..." /></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4>1940-1950</h4>
						<h4 class="subheading">El inicio de Formula 1</h4>
					</div>
					<div class="timeline-body"><p class="text-muted"> Antes de la Segunda Guerra Mundial se habían establecido las reglas para las competiciones de Grand Prix, que debían obedecer tanto autos como pilotos. Estas reglas, conocidas en su conjunto como Fórmula. No se concretaron hasta que en 1947 la antigua AIACR se reorganizó, pasándose a llamar la Federación Internacional del Automóvil, conocida por las siglas "FIA". Con sede central en París, al final de la temporada de 1949 anunció que para 1950 unirían varios Grandes Premios nacionales para crear un Campeonato Mundial de Pilotos, por lo que en 1950 se celebró el primer campeonato de Fórmula 1</p></div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-image"><img class="rounded-circle img-fluid" src="/Imagenes/F1Z2070.jpg" alt="..." /></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4>1950-1960</h4>
						<h4 class="subheading">Primeras carreras</h4>
					</div>
					<div class="timeline-body"><p class="text-muted">El primer Gran Premio se realizó el 13 de mayo de 1950 en el circuito de Silverstone y fue ganado por el italiano Giuseppe Farina, consiguiendo además el campeonato de 1950 tras vencer a su compañero de equipo, el argentino Juan Manuel Fangio. Sin embargo, Fangio ganó el título en 1951, 1954, 1955, 1956 y 1957. El periodo estuvo dominado por las escuderías dirigidas por fabricantes de automóviles Alfa Romeo, Ferrari, Maserati y Mercedes Benz que habían competido antes de la guerra. Los campeonatos mundiales de 1952 y 1953 se realizaron con la normativa de la Fórmula 2, con coches más pequeños y menos potentes, debido al escaso número de coches disponibles de Fórmula 1.</p></div>
				</div>
			</li>
			<li>
				<div class="timeline-image"><img class="rounded-circle img-fluid" src="/Imagenes/F1Z.png" alt="..." /></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4>1960-1990</h4>
						<h4 class="subheading">Avances automovilisticos</h4>
					</div>
					<div class="timeline-body">
						<p class="text-muted">
							En 1961, todos los competidores regulares habían cambiado a coches con motor central. El Ferguson P99, con tracción a las cuatro ruedas, fue el último coche de Fórmula 1 con motor frontal en participar en el Campeonato Mundial. Fue el único de su clase en participar de la 1961, tomando la partida únicamente en el Gran Premio de Gran Bretaña. La aerodinámica adquirió lentamente importancia en el diseño de los coches a partir de la aparición perfiles aerodinámicos a finales de los años 1960.
							En 1962, Lotus presentó un coche con un chasis monocasco de aluminio en lugar del tradicional chasis tubular. Este resultó ser el mayor avance tecnológico desde la introducción de los coches con motor central. En 1968, incluyó el logotipo de Imperial Tobacco en sus automóviles, introduciendo el patrocinio de marcas de tabaco en este deporte. Y luego a finales de la década siguiente,tambien presentó una carrocería con efecto suelo, que generaba una enorme fuerza de sustentación negativa y permitía circular a mayores velocidades en las curvas.
							El desarrollo de ayudas electrónicas a los pilotos comenzó durante la década de 1980. Lotus desarrolló un sistema de suspensión activa que apareció por primera vez durante el año 1982 en el Lotus 91. En 1987, este sistema fue perfeccionado y conducido a la victoria por Ayrton Senna en el Gran Premio de Mónaco de ese año. A principios de 1990 otros equipos siguieron su ejemplo y desarrollaron cajas de cambio semi-automáticas y control de tracción eran una progresión natural. La FIA, debido a las quejas de que la tecnología determinaba el resultado de las carreras más de la habilidad del piloto, prohibió muchas de estas ayudas para el año 1994.
						</p>
					</div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-image"><img class="rounded-circle img-fluid" src="/Imagenes/F12021.jpg" alt="..." /></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4>1990-Actualidad</h4>
						<h4 class="subheading">La seguridad ante todo</h4>
					</div>
					<div class="timeline-body"><p class="text-muted">La FIA ha trabajado para mejorar las normas de seguridad de este deporte. Desde entonces, ningún piloto había muerto en la pista al volante de un coche de Fórmula 1 hasta 2015. Debido a los avances tecnológicos de la década de 1990, el costo de competir en la Fórmula 1 ha aumentado dramáticamente. Este aumento de las cargas financieras, combinado con el predominio de los cuatro equipos —en gran parte financiados por grandes fabricantes de automóviles como Mercedes-Benz—, hizo que los equipos más pobres e independientes lucharan no solo para mantener la competitividad, sino para mantenerse en el negocio, y obligó a varios equipos a retirarse.</p></div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-image">
					<h4>
						Se Parte
						<br />
						De Nuestra
						<br />
						Historia!
					</h4>
				</div>
			</li>
		</ul>
	</div>
</section>
<section class="page-section bg-light" id="portfolio">
	<div class="container">
		<div class="text-center">
			<h2 class="section-heading text-uppercase">Rally</h2>
			<h3 class="section-subheading text-muted">Los siguientes autos estan ordenados cronologinamente.</h3>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-6 mb-4">
				<!-- Portfolio item 7-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/Rally1.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Rally</div>
						<div class="portfolio-caption-subheading text-muted">1</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mb-4">
				<!-- Portfolio item 8-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/Rally2.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Rally</div>
						<div class="portfolio-caption-subheading text-muted">2</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mb-4">
				<!-- Portfolio item 9-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/Rally3.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Rally</div>
						<div class="portfolio-caption-subheading text-muted">3</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<!-- Portfolio item 10-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/Rally4.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Rally</div>
						<div class="portfolio-caption-subheading text-muted">4</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
				<!-- Portfolio item 11-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/Rally5.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Rally</div>
						<div class="portfolio-caption-subheading text-muted">5</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<!-- Portfolio item 12-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/Rally6.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Rally</div>
						<div class="portfolio-caption-subheading text-muted">6</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- About-->
<section class="page-section" id="about">
	<div class="container">
		<div class="text-center">
			<h2 class="section-heading text-uppercase">Rally</h2>
			<h3 class="section-subheading text-muted">.</h3>
		</div>
		<ul class="timeline">
			<li>
				<div class="timeline-image"><img class="rounded-circle img-fluid" src="/Imagenes/F1z.jpg" alt="..." /></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4>1940-1950</h4>
						<h4 class="subheading">El inicio de Formula 1</h4>
					</div>
					<div class="timeline-body"><p class="text-muted"> Antes de la Segunda Guerra Mundial se habían establecido las reglas para las competiciones de Grand Prix, que debían obedecer tanto autos como pilotos. Estas reglas, conocidas en su conjunto como Fórmula. No se concretaron hasta que en 1947 la antigua AIACR se reorganizó, pasándose a llamar la Federación Internacional del Automóvil, conocida por las siglas "FIA". Con sede central en París, al final de la temporada de 1949 anunció que para 1950 unirían varios Grandes Premios nacionales para crear un Campeonato Mundial de Pilotos, por lo que en 1950 se celebró el primer campeonato de Fórmula 1</p></div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-image"><img class="rounded-circle img-fluid" src="/Imagenes/F1Z2070.jpg" alt="..." /></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4>1950-1960</h4>
						<h4 class="subheading">Primeras carreras</h4>
					</div>
					<div class="timeline-body"><p class="text-muted">El primer Gran Premio se realizó el 13 de mayo de 1950 en el circuito de Silverstone y fue ganado por el italiano Giuseppe Farina, consiguiendo además el campeonato de 1950 tras vencer a su compañero de equipo, el argentino Juan Manuel Fangio. Sin embargo, Fangio ganó el título en 1951, 1954, 1955, 1956 y 1957. El periodo estuvo dominado por las escuderías dirigidas por fabricantes de automóviles Alfa Romeo, Ferrari, Maserati y Mercedes Benz que habían competido antes de la guerra. Los campeonatos mundiales de 1952 y 1953 se realizaron con la normativa de la Fórmula 2, con coches más pequeños y menos potentes, debido al escaso número de coches disponibles de Fórmula 1.</p></div>
				</div>
			</li>
			<li>
				<div class="timeline-image"><img class="rounded-circle img-fluid" src="/Imagenes/F1Z.png" alt="..." /></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4>1960-1990</h4>
						<h4 class="subheading">Avances automovilisticos</h4>
					</div>
					<div class="timeline-body">
						<p class="text-muted">
							En 1961, todos los competidores regulares habían cambiado a coches con motor central. El Ferguson P99, con tracción a las cuatro ruedas, fue el último coche de Fórmula 1 con motor frontal en participar en el Campeonato Mundial. Fue el único de su clase en participar de la 1961, tomando la partida únicamente en el Gran Premio de Gran Bretaña. La aerodinámica adquirió lentamente importancia en el diseño de los coches a partir de la aparición perfiles aerodinámicos a finales de los años 1960.
							En 1962, Lotus presentó un coche con un chasis monocasco de aluminio en lugar del tradicional chasis tubular. Este resultó ser el mayor avance tecnológico desde la introducción de los coches con motor central. En 1968, incluyó el logotipo de Imperial Tobacco en sus automóviles, introduciendo el patrocinio de marcas de tabaco en este deporte. Y luego a finales de la década siguiente,tambien presentó una carrocería con efecto suelo, que generaba una enorme fuerza de sustentación negativa y permitía circular a mayores velocidades en las curvas.
							El desarrollo de ayudas electrónicas a los pilotos comenzó durante la década de 1980. Lotus desarrolló un sistema de suspensión activa que apareció por primera vez durante el año 1982 en el Lotus 91. En 1987, este sistema fue perfeccionado y conducido a la victoria por Ayrton Senna en el Gran Premio de Mónaco de ese año. A principios de 1990 otros equipos siguieron su ejemplo y desarrollaron cajas de cambio semi-automáticas y control de tracción eran una progresión natural. La FIA, debido a las quejas de que la tecnología determinaba el resultado de las carreras más de la habilidad del piloto, prohibió muchas de estas ayudas para el año 1994.
						</p>
					</div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-image"><img class="rounded-circle img-fluid" src="/Imagenes/F12021.jpg" alt="..." /></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4>1990-Actualidad</h4>
						<h4 class="subheading">La seguridad ante todo</h4>
					</div>
					<div class="timeline-body"><p class="text-muted">La FIA ha trabajado para mejorar las normas de seguridad de este deporte. Desde entonces, ningún piloto había muerto en la pista al volante de un coche de Fórmula 1 hasta 2015. Debido a los avances tecnológicos de la década de 1990, el costo de competir en la Fórmula 1 ha aumentado dramáticamente. Este aumento de las cargas financieras, combinado con el predominio de los cuatro equipos —en gran parte financiados por grandes fabricantes de automóviles como Mercedes-Benz—, hizo que los equipos más pobres e independientes lucharan no solo para mantener la competitividad, sino para mantenerse en el negocio, y obligó a varios equipos a retirarse.</p></div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-image">
					<h4>
						Se Parte
						<br />
						De Nuestra
						<br />
						Historia!
					</h4>
				</div>
			</li>
		</ul>
	</div>
</section>

<section class="page-section bg-light" id="portfolio">
	<div class="container">
		<div class="text-center">
			<h2 class="section-heading text-uppercase">Rally</h2>
			<h3 class="section-subheading text-muted">Las siguientes imagenes son ilustrativas.</h3>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-6 mb-4">
				<!-- Portfolio item 7-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/Rally1.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Rally</div>
						<div class="portfolio-caption-subheading text-muted">1</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mb-4">
				<!-- Portfolio item 8-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/Rally2.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Rally</div>
						<div class="portfolio-caption-subheading text-muted">2</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mb-4">
				<!-- Portfolio item 9-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/Rally3.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Rally</div>
						<div class="portfolio-caption-subheading text-muted">3</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<!-- Portfolio item 10-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/Rally4.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Rally</div>
						<div class="portfolio-caption-subheading text-muted">4</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
				<!-- Portfolio item 11-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/Rally5.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Rally</div>
						<div class="portfolio-caption-subheading text-muted">5</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<!-- Portfolio item 12-->
				<div class="portfolio-item">
					<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" src="Imagenes/Rally6.jpg" alt="..." />
					</a>
					<div class="portfolio-caption">
						<div class="portfolio-caption-heading">Rally</div>
						<div class="portfolio-caption-subheading text-muted">6</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- About-->
<section class="page-section" id="about">
	<div class="container">
		<div class="text-center">
			<h2 class="section-heading text-uppercase">Rally</h2>
			<h3 class="section-subheading text-muted">.</h3>
		</div>
		<ul class="timeline">
			<li>
				<div class="timeline-image"><img class="rounded-circle img-fluid" src="/Imagenes/F1z.jpg" alt="..." /></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4>1940-1950</h4>
						<h4 class="subheading">El inicio de Formula 1</h4>
					</div>
					<div class="timeline-body"><p class="text-muted"> Antes de la Segunda Guerra Mundial se habían establecido las reglas para las competiciones de Grand Prix, que debían obedecer tanto autos como pilotos. Estas reglas, conocidas en su conjunto como Fórmula. No se concretaron hasta que en 1947 la antigua AIACR se reorganizó, pasándose a llamar la Federación Internacional del Automóvil, conocida por las siglas "FIA". Con sede central en París, al final de la temporada de 1949 anunció que para 1950 unirían varios Grandes Premios nacionales para crear un Campeonato Mundial de Pilotos, por lo que en 1950 se celebró el primer campeonato de Fórmula 1</p></div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-image"><img class="rounded-circle img-fluid" src="/Imagenes/F1Z2070.jpg" alt="..." /></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4>1950-1960</h4>
						<h4 class="subheading">Primeras carreras</h4>
					</div>
					<div class="timeline-body"><p class="text-muted">El primer Gran Premio se realizó el 13 de mayo de 1950 en el circuito de Silverstone y fue ganado por el italiano Giuseppe Farina, consiguiendo además el campeonato de 1950 tras vencer a su compañero de equipo, el argentino Juan Manuel Fangio. Sin embargo, Fangio ganó el título en 1951, 1954, 1955, 1956 y 1957. El periodo estuvo dominado por las escuderías dirigidas por fabricantes de automóviles Alfa Romeo, Ferrari, Maserati y Mercedes Benz que habían competido antes de la guerra. Los campeonatos mundiales de 1952 y 1953 se realizaron con la normativa de la Fórmula 2, con coches más pequeños y menos potentes, debido al escaso número de coches disponibles de Fórmula 1.</p></div>
				</div>
			</li>
			<li>
				<div class="timeline-image"><img class="rounded-circle img-fluid" src="/Imagenes/F1Z.png" alt="..." /></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4>1960-1990</h4>
						<h4 class="subheading">Avances automovilisticos</h4>
					</div>
					<div class="timeline-body">
						<p class="text-muted">
							En 1961, todos los competidores regulares habían cambiado a coches con motor central. El Ferguson P99, con tracción a las cuatro ruedas, fue el último coche de Fórmula 1 con motor frontal en participar en el Campeonato Mundial. Fue el único de su clase en participar de la 1961, tomando la partida únicamente en el Gran Premio de Gran Bretaña. La aerodinámica adquirió lentamente importancia en el diseño de los coches a partir de la aparición perfiles aerodinámicos a finales de los años 1960.
							En 1962, Lotus presentó un coche con un chasis monocasco de aluminio en lugar del tradicional chasis tubular. Este resultó ser el mayor avance tecnológico desde la introducción de los coches con motor central. En 1968, incluyó el logotipo de Imperial Tobacco en sus automóviles, introduciendo el patrocinio de marcas de tabaco en este deporte. Y luego a finales de la década siguiente,tambien presentó una carrocería con efecto suelo, que generaba una enorme fuerza de sustentación negativa y permitía circular a mayores velocidades en las curvas.
							El desarrollo de ayudas electrónicas a los pilotos comenzó durante la década de 1980. Lotus desarrolló un sistema de suspensión activa que apareció por primera vez durante el año 1982 en el Lotus 91. En 1987, este sistema fue perfeccionado y conducido a la victoria por Ayrton Senna en el Gran Premio de Mónaco de ese año. A principios de 1990 otros equipos siguieron su ejemplo y desarrollaron cajas de cambio semi-automáticas y control de tracción eran una progresión natural. La FIA, debido a las quejas de que la tecnología determinaba el resultado de las carreras más de la habilidad del piloto, prohibió muchas de estas ayudas para el año 1994.
						</p>
					</div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-image"><img class="rounded-circle img-fluid" src="/Imagenes/F12021.jpg" alt="..." /></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4>1990-Actualidad</h4>
						<h4 class="subheading">La seguridad ante todo</h4>
					</div>
					<div class="timeline-body"><p class="text-muted">La FIA ha trabajado para mejorar las normas de seguridad de este deporte. Desde entonces, ningún piloto había muerto en la pista al volante de un coche de Fórmula 1 hasta 2015. Debido a los avances tecnológicos de la década de 1990, el costo de competir en la Fórmula 1 ha aumentado dramáticamente. Este aumento de las cargas financieras, combinado con el predominio de los cuatro equipos —en gran parte financiados por grandes fabricantes de automóviles como Mercedes-Benz—, hizo que los equipos más pobres e independientes lucharan no solo para mantener la competitividad, sino para mantenerse en el negocio, y obligó a varios equipos a retirarse.</p></div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-image">
					<h4>
						Se Parte
						<br />
						De Nuestra
						<br />
						Historia!
					</h4>
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
	<div class="container">
		<div class="text-center">
			<h2 class="section-heading text-uppercase">NUESTRO INCREÍBLE EQUIPO </h2>

		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="team-member">
					<img class="mx-auto rounded-circle" src="/Imagenes/Matias.jpg" alt="..." />
					<h4>Matias Meletto</h4>
					<p class="text-muted">Programador</p>
					<a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter Profile"><i class="fab fa-twitter"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook Profile"><i class="fab fa-facebook-f"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="team-member">
					<img class="mx-auto rounded-circle" src="/Imagenes/ivo.jpg" alt="..." />
					<h4>Ivo Palomeque</h4>
					<p class="text-muted">Diseñador Grafico</p>
					<a class="btn btn-dark btn-social mx-2" href="#!" aria-label=" Twitter Profile"><i class="fab fa-twitter"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="#!" aria-label=" Facebook Profile"><i class="fab fa-facebook-f"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="team-member">
					<img class="mx-auto rounded-circle" src="/Imagenes/Dani1.jpg" alt="..." />
					<h4>Danilo Gariboldi</h4>
					<p class="text-muted">Diseñador Web</p>
					<a class="btn btn-dark btn-social mx-2" href="https://twitter.com/dani_gariboldi" aria-label="Twitter Profile"><i class="fab fa-twitter"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/dani.gariboldi.77" aria-label="Facebook Profile"><i class="fab fa-facebook-f"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Somos un equipo unido para trabajar.</p></div>
		</div>
	</div>
</section>
<!-- Clients-->
<div class="py-5">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-3 col-sm-6 my-3">
				<a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="Estilos/assets/img/logos/microsoft.svg" alt="..." aria-label="Microsoft Logo" /></a>
			</div>
			<div class="col-md-3 col-sm-6 my-3">
				<a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="Estilos/assets/img/logos/google.svg" alt="..." aria-label="Google Logo" /></a>
			</div>
			<div class="col-md-3 col-sm-6 my-3">
				<a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="Estilos/assets/img/logos/facebook.svg" alt="..." aria-label="Facebook Logo" /></a>
			</div>
			<div class="col-md-3 col-sm-6 my-3">
				<a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="Estilos/assets/img/logos/ibm.svg" alt="..." aria-label="IBM Logo" /></a>
			</div>
		</div>
	</div>
</div>

<!-- Footer-->
<footer class="footer py-4">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2022</div>
			<div class="col-lg-4 my-3 my-lg-0">
				<a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
				<a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
				<a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<div class="col-lg-4 text-lg-end">
				<a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
				<a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
			</div>
		</div>
	</div>
</footer>
<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="close-modal" data-bs-dismiss="modal"><img src="/Estilos/assets/img/close-icon.svg" alt="Close modal" /></div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="modal-body">
							<!-- Project details-->
							<h2 class="text-uppercase">Formula 1 1950</h2>
							<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
							<img class="img-fluid d-block mx-auto" src="/Imagenes/F1-1955.jpg" alt="..." />
							<p>En la imagines del automovil se puede ver su forma alargada</p>
							<ul class="list-inline">
								<li>
									<strong>Client:</strong>
									Threads
								</li>
								<li>
									<strong>Categoria:</strong>
									Illustration
								</li>
							</ul>
							<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
								<i class="fas fa-xmark me-1"></i>
								Close Project
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio item 2 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="close-modal" data-bs-dismiss="modal"><img src="Estilos/assets/img/close-icon.svg" alt="Close modal" /></div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="modal-body">
							<!-- Project details-->
							<h2 class="text-uppercase">Project Name</h2>
							<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
							<img class="img-fluid d-block mx-auto" src="/Imagenes/F1-1960.jpg" alt="..." />
							<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
							<ul class="list-inline">
								<li>
									<strong>Client:</strong>
									Explore
								</li>
								<li>
									<strong>Categoria:</strong>
									Graphic Design
								</li>
							</ul>
							<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
								<i class="fas fa-xmark me-1"></i>
								Close Project
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="close-modal" data-bs-dismiss="modal"><img src="Estilos/assets/img/close-icon.svg" alt="Close modal" /></div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="modal-body">
							<!-- Project details-->
							<h2 class="text-uppercase">Project Name</h2>
							<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
							<img class="img-fluid d-block mx-auto" src="/Imagenes/F1-1970.jpg" alt="..." />
							<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
							<ul class="list-inline">
								<li>
									<strong>Client:</strong>
									Finish
								</li>
								<li>
									<strong>Categoria:</strong>
									Identity
								</li>
							</ul>
							<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
								<i class="fas fa-xmark me-1"></i>
								Close Project
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio item 4 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="close-modal" data-bs-dismiss="modal"><img src="Estilos/assets/img/close-icon.svg" alt="Close modal" /></div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="modal-body">
							<!-- Project details-->
							<h2 class="text-uppercase">Project Name</h2>
							<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
							<img class="img-fluid d-block mx-auto" src="/Imagenes/F1-1980.jpg" alt="..." />
							<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
							<ul class="list-inline">
								<li>
									<strong>Client:</strong>
									Lines
								</li>
								<li>
									<strong>Categoria:</strong>
									Branding
								</li>
							</ul>
							<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
								<i class="fas fa-xmark me-1"></i>
								Close Project
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio item 5 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="close-modal" data-bs-dismiss="modal"><img src="Estilos/assets/img/close-icon.svg" alt="Close modal" /></div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="modal-body">
							<!-- Project details-->
							<h2 class="text-uppercase">Project Name</h2>
							<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
							<img class="img-fluid d-block mx-auto" src="/Imagenes/F1-1990.jpg" alt="..." />
							<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
							<ul class="list-inline">
								<li>
									<strong>Client:</strong>
									Southwest
								</li>
								<li>
									<strong>Categoria:</strong>
									Website Design
								</li>
							</ul>
							<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
								<i class="fas fa-xmark me-1"></i>
								Close Project
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio item 6 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="close-modal" data-bs-dismiss="modal"><img src="Estilos/assets/img/close-icon.svg" alt="Close modal" /></div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="modal-body">
							<!-- Project details-->
							<h2 class="text-uppercase">Project Name</h2>
							<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
							<img class="img-fluid d-block mx-auto" src="/Imagenes/F1-2000.jpg" alt="..." />
							<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
							<ul class="list-inline">
								<li>
									<strong>Client:</strong>
									Window
								</li>
								<li>
									<strong>Categoria:</strong>
									Photography
								</li>
							</ul>
							<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
								<i class="fas fa-xmark me-1"></i>
								Close Project
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>