@using System.Text.Json
@using System.Text.Json.Serialization
@using MusseCore
@using MusseMovil.Services
@inject IMapaService MapaService
@page "/Mapas"
<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top">Juan Manuel Fangio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
    </div>
</nav>
</div>
<br><br><br><br>
<div class="container">
<h3>Mapas</h3>
@if (MapaService.Mapa is not null)
{
    <img class="max" src="data:@MapaService.Mapa.Tipo;base64,@MapaService.Mapa.MapaBase64" />
}
</div>
@code {

    protected override async Task OnInitializedAsync()
    {
        await MapaService.RefreshDataAsync();
    }
}
