@using System.Text.Json
@using System.Text.Json.Serialization
@using MusseCore
@inject IHttpClientFactory ClientFactory
@page "/Resenas"

<h3>Resenas</h3>

@code {
    //https://learn.microsoft.com/es-es/aspnet/core/blazor/file-uploads?view=aspnetcore-6.0&pivots=server#upload-files-to-a-server
}
