@page "/"

<form>
    <input class="text" @bind="Prueba.Prueba"/>
</form>

<h2> @Prueba.Prueba </h2>

<button @onclick="Guardar"></button>

@code {

    private class PruebaViewModel 
    {
        public string Prueba { get; set; } = " ";
    }

    private PruebaViewModel Prueba { get; set; } = new();

    private async void Guardar() 
    {
        using var db = new MuseoingContext();
    }
}