@page "/Juegos"
<h3>Juegos</h3>

<content align-items: center>
    <a href="/Juego1">Juego 1 <i class="fas fa-angle-double-right"></i></a>
    <br />
    <a href="/Juego2">Juego 2 <i class="fas fa-angle-double-right"></i></a>
    <br />
    <a href="/Juego3">Juego 3 <i class="fas fa-angle-double-right"></i></a>
    <br />
    <a href="/Juego4">Juego 4 <i class="fas fa-angle-double-right"></i></a>
 </content>
@code {

}
