@page "/Juego1"
<h3>Juego 1</h3>

<br />
<h3> De que color era el auto de rally modelo MG Metro 6r4?</h3>
    <form>
        <div class="radio">
            <input type="radio" name="colormg" id="Verde" />
            <label for="Verde">Verde</label>
            <br />
            <input type="radio" name="colormg" id="Negro" />
            <label for="Negro">Negro</label>
            <br />
            <input type="radio" name="colormg" id="Rojo" />
            <label for="Rojo">Rojo</label>
            <br />
            <input type="radio" name="colormg" id="Azul" />
            <label for="Azul">Azul</label>
            <br />
            <button class="alert-primary" type="submit">Enviar</button>
        </div>
    </form>

@code {
    int puntaje = 100;

}
