@page "/Juego2"
<h3>Juego 2</h3>

<br />
<h3> Cual era el modelo del primer F1 del recorrido?</h3>
<form>
    <div class="radio">
        <input type="radio" name="modelof1" id="rb16b" />
        <label for="rb16b">F1 RB16B HONDA</label>
        <br />
        <input type="radio" name="modelof1" id="mcl35l" />
        <label for="mcl35l">F1 MCL35L MERCEDES</label>
        <br />
        <input type="radio" name="modelof1" id="158al" />
        <label for="158al">F1 156 ALFA ROMEO</label>
        <br />
        <button class="alert-primary" type="submit">Enviar</button>
    </div>
</form>

@code {
    int puntaje = 100;

}