@page "/Juego3"
<h3>Juego 3</h3>

<br />
<h3> Cuantas veces fue compeon del mundo el piloto Juan Manuel Fangio?</h3>
<form>
    <div class="radio">
        <input type="radio" name="champ" id="veces2" />
        <label for="veces2">2 veces</label>
        <br />
        <input type="radio" name="champ" id="veces4" />
        <label for="veces4">4 veces</label>
        <br />
        <input type="radio" name="champ" id="veces5" />
        <label for="veces5">5 veces</label>
        <br />
        <input type="radio" name="champ" id="veces6" />
        <label for="veces6">6 veces</label>
        <br />
        <button class="alert-primary" type="submit">Enviar</button>
    </div>
</form>

@code {
    int puntaje = 100;

}