@page "/Juegos"
@inject IDbContextFactory<MuseoingContext> DbFactory

<h3>Juegos</h3>

<select @bind="id">
            @foreach (var stand in stands)
            {
                <option value="@stand.StandId">@stand.Nombre</option>
            }
        </select>
<br />
<br />
<h1>Crear juego</h1>


@code {

    private class JuegoViewModel 
    {
        public string Pregunta { get; set; }
        public string RespuestaCorrecta { get; set; }
        public List<string> RespuestasIncorrectas { get; set; }
    }

    private JuegoViewModel juego { get; set; }
    private Juego[]? juegos;
    private int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var db = DbFactory.CreateDbContext();
    }
}
