@page "/Mapas"
@using Microsoft.EntityFrameworkCore
@using Musse.Helpers
<h1>Mapas</h1>
<InputFile OnChange="Guardar" />

<img src="data:@Mapa.Tipo;base64,@Mapa.base64" />

aca va a haber un li de las imagenes previas chiquitas

@if (MapasPrevios.MapasPrevios is not null)
{
    @foreach (MapaViewModel mapas in MapasPrevios.MapasPrevios)
    {

    }
}

@code {

    private class MapaViewModel 
    {
        public string base64 { get; set; }
        public string Tipo { get; set; }
        public string Nombre { get; set; }
    }

    private class MapasPreviosViewModel
    {
        public List<MapaViewModel> MapasPrevios { get;set; } 
    }

    private MapaViewModel Mapa { get; set; } = new();
    private MapasPreviosViewModel MapasPrevios { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var contextOptions = new DbContextOptionsBuilder<MuseoingContext>()
            .UseSqlServer(@"Server=(localdb)\mssqllocaldb;Database=aspnet-53bc9b9d-9d6a-45d4-8429-2a2761773502;Trusted_Connection=True;MultipleActiveResultSets=true")
            .Options;

        using var db = new MuseoingContext(contextOptions);

        MapaActual? mapa = await db.Mapas.SingleOrDefaultAsync();

        if (mapa is not null)
        {
            Mapa.base64 = mapa.MapaBase64;
            Mapa.Tipo = mapa.Tipo;
            Mapa.Nombre = mapa.Nombre;
        }
    }

    private async void Guardar(InputFileChangeEventArgs e)
    {
        var contextOptions = new DbContextOptionsBuilder<MuseoingContext>()
            .UseSqlServer(@"Server=(localdb)\mssqllocaldb;Database=aspnet-53bc9b9d-9d6a-45d4-8429-2a2761773502;Trusted_Connection=True;MultipleActiveResultSets=true")
            .Options;

        using var db = new MuseoingContext(contextOptions);

        string mapaBase = await Base64Helper.StreamToBase64(e.File.OpenReadStream());

        MapaActual? mapa = await db.Mapas.SingleOrDefaultAsync();

        if (mapa is not null)
        {
            mapa.Tipo = e.File.ContentType;
            mapa.Nombre = e.File.Name;
            mapa.MapaBase64 = mapaBase;
        }
        else
        {
            MapaActual mapaActual = new()
            {
                MapaBase64 = mapaBase,
                Nombre = e.File.Name,
                Tipo = e.File.ContentType
            };

            db.Mapas.Add(mapaActual);
        }
        db.SaveChanges();
    }
}
